html, body{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,0.9251050762101716) 49%, rgba(0,212,255,0.8410714627647934) 100%);
    background-image: url("../source/image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-panel{
    background-color: white;
    opacity: 0.4;
    width: 400px;
    height: 100px;
    border: 2px solid olivedrab;
    border-radius: 5px;    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: 0.5s;
    cursor: pointer;
}
.main-panel:hover{
    opacity: 1;
}
.main-panel__text{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 24px;
}